@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --main-color: #FA9428;
  --second-color:#FAA64C;
  --dark-color: #141821;
  --white-color: #FBFBFB;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--white-color);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-color);
  color: var(--white-color);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

h2,
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
}