#contact-container
{
    width: 100%;
    max-width:968px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
  
.contact-content {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: 
  "contact-form talk-us"
  "contact-form contact-whatsapp";
  gap: 20px;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;

  grid-area: contact-form;
  color: var(--dark-color);
  background-color: var(--white-color);
  border-radius: 10px;
}

.talk-us 
{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  grid-area: talk-us;
}

@media(max-width: 987px) {
  .contact-content {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .talk-us {
    border-top: 2px solid var(--main-color);
    padding: 20px;
  }
}