/* Estilos da Página SOBRE */
#about-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-color);
    color: var(--dark-color);
}

/* Título e Descrição Cabeçalho */
.about-page-title {
    font-size: 26px;
    font-weight: 600;
}

.about-page-description {
    font-size: 26px;
    font-weight: 500;
}

/* Container das Sessões  */
.about-page-item {
    width: 95%;
    max-width: 1200px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.about-page-item.section-who {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.about-page-item-service {
    max-width: 1200px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    border: 1px solid #e3e3e3;
}

/* Textos */
.about-page-texts {
    width: 100%;
    max-width: 1200px;

    padding: 20px 0;
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    border-bottom: 1px solid var(--dark-color);
}

.about-page-section-who_title,
.about-page-texts_title {
    font-size: 22px;
    margin-top: 1.6rem;
}

.about-page-section-who_description,
.about-page-texts_description {
    font-size: 18px;
    line-height: 2rem;
}

.about-page-item-service_title {
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #e3e3e3;
    background-color: #f4f4f4;
}

.about-page-item-service_description {
    font-size: 16px;
    line-height: 2rem;
    padding: 10px;
}

.about-page-section-who_texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-page-item-service_title {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    border: 1px solid #e3e3e3;
    background-color: #f4f4f4;
}

.about-page-item-service_description {
    font-size: 16px;
    line-height: 2rem;
    padding: 10px;
}


/* Imagens */
.about-page-images {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-page-images_internalwork-image {
    width: 300px;
    height: 325px;
    border-radius: 10px;
    margin-top: 2rem;
}

.about-page-images_externalwork-image {
    width: 150px;
    height: 175px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Estilos Responsivos Desktop */
@media screen and (max-width: 1205px) {

    /* Sessão */
    .about-page-item.section-who {
        flex-direction: column;
    }

    /* Textos */
    .about-page-texts {
        justify-content: center;
        text-align: center;
    }

    .about-page-section-who_title,
    .about-page-texts_title {
        width: 100%;
        text-align: center;
    }

    /* Imagens */
    .about-page-images {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .about-page-images_externalwork-image {
        position: relative;
    }

    .about-page-images img {
        width: 350px;
        height: 300px;
        margin: 0;
        object-fit: cover;
    }
}

/* Estilos Responsivos Tablet */
@media screen and (max-width: 768px) {
    /* Textos */
    #about-page {
        text-align: center;
    }

    .about-page-texts {
        display: flex;
        flex-direction: column;
    }

    .about-page-description span {
        display: none;
    }
}

/* Estilos Responsivos Mobile */
@media screen and (max-width: 511px) {
    /* Textos */
    .about-page-title,
    .about-page-description {
        font-size: 22px;
    }

    .about-page-section-who_title,
    .about-page-texts_title {
        font-size: 20px;
    }

    .about-page-section-who_description,
    .about-page-texts_description {
        font-size: 16px;
        line-height: 2rem;
    }
}
