

.footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: var(--dark-color);
    margin-top: 4rem;
  }
  
  .footer {
    width: 100%;
    border-top: 1px solid var(--main-color);
    max-width: 1200px;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* flex-direction: column; */
    gap: 20px;
  }
  .footer-text {
    color: var(--white-color);
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 10px;
  }


  .footer img {
    width: 200px;
  }
