.title-container {
    /* Dimensão */
    width: 100%;
    padding: 2rem;
   
    /* Exibição, Alinhamento e Direção */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Posicionamento */
    position: relative;
}

.title-overlay {
    /* Dimensão */
    width: 100%;
    -webkit-text-stroke-width: 1px;

    /* Tamanho, peso, espaçamento e alinhamento */
    font-size: 100px;
    text-align: center;
    font-weight: 500;
    
    /* Posicionamneto */
    position: absolute;
    
    /* Cor e Opacidade */
    color: transparent;
    -webkit-text-stroke-color: var(--main-color);
    opacity: 0.25;

    /* Transformação e Transição */
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.title-text {
    /* Preechimento, Cor de Fundo e Transição */
    padding: 0.6rem;
    background-color: var(--main-color);
    transition: all 0.5s ease-in-out;
}

/* Estilos Respoinsivos */
@media(max-width: 645px) {
    .title-overlay {
        font-size: 100px;
    }

    .title-text {
        font-size: 22px;
    }
}

@media(max-width: 500px) {
    .title-overlay {
        font-size: 80px;
    }

    .title-text {
        font-size: 20px;
        padding: 0.3rem;
    }
}

@media(max-width: 400px) {
    .title-overlay {
        font-size: 60px;
    }

    .title-text {
        font-size: 18px;
        padding: 0.2rem;
    }
}
