#contato-page {
    background-color: var(--white-color);
    padding-top: 6.5rem !important;
}

#contato-page {
    color: var(--dark-color);
    margin: 0;
}

#contato-page .contact-form {
    background-color: #fcfcfc;
    border: 2px solid #e0e0e0;
}

#contato-page .footer-container {
    margin-top: 2rem;
    background-color: var(--white-color) !important;
    border-top:  1px solid #e0e0e0;
}
#contato-page footer {
    border: 0;
}

#contato-page footer p {
    color: var(--dark-color);
}

#contato-page .talk-us {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
}

@media screen and (max-width: 500px){
    #contato-page .description-text {
       font-size: 18px !important;
    }
}