#contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    color: var(--dark-color);
    background-color: var(--white-color);
}

.contact-page-texts {
    width: 95%;
    max-width: 1200px;

    padding: 40px 0;
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;

    border-bottom: 1px solid var(--gray-color);
    margin-bottom: 1rem;
    text-align: center;
}

.contact-page-title {
    font-size: 26px;
    font-weight: 600;
}

.contact-page-description {
    font-size: 26px;
    font-weight: 500;
}

@media screen and (max-width: 987px) {
    .contact-page-texts {
        justify-content: center;
    }

    
    .contact-page-description,
    .contact-page-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 786px) {
    .contact-page-description,
    .contact-page-title {
        font-size: 20px;
    }

}
@media screen and (max-width: 708px) {
    .contact-page-description {
        margin-left: 1rem;
    }
    .contact-page-description span {
        display: none;
    }

}