#project-container {
  background-color: var(--white-color);
}

.project-item {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1300px;
  height: auto;
  color: var(--dark-color);
  border-top: 2px solid var(--dark-color);
  padding: 20px;
  gap: 20px;
}

.project-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.text-intro-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-project {
  display: flex;
}

.info-project-item {
  display: flex;
  flex-direction: column;
}

.info-project-title {
  border: 1px solid #e3e3e3;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  background-color: #f2f2f2;
}

.info-project-description {
  border: 1px solid #e3e3e3;
  font-size: 16px;
  width: 100%;
  padding: 10px;
}


.texts-details-project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.strategy-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.texts-strategy-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.strategy-item img {
  width: 40%;
  height: 200px;
  object-fit: cover;
}

.solution-item {
  display: flex;
  gap: 20px;
}

.texts-solution-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.solution-item img {
  width: 50%;
  height: 200px;
  object-fit: cover;
}

.btn-project-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 4rem;
}

#project-container .footer-container {
  margin-top: 2rem;
  background-color: var(--white-color) !important;
  border-top: 1px solid #e0e0e0;
}

#project-container footer {
  border: 0;
}

#project-container footer p {
  color: var(--dark-color);
}

@media screen and (max-width: 600px) {
  .info-project {
    display: block;
  }
}

@media (max-width: 385px) {
  .project-item img {
    height: 200px;
  }
}