#project-page {
    background-color: var(--white-color);
}

/* Container do Conteúdo do projeto */
.project-content {
    width: 100%;
    height: auto;
    max-width: 1300px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    color: var(--dark-color);
    border-top: 2px solid var(--dark-color);
}

/* Imagem do projeto no Topo da página */
.project-content-image_top {
    width: 100%;
    height: 300px;
}

.project-content-image_top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Sessão de Introdução ao projeto*/
.project-content-introdution_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-content-introdution_title {
    font-size: 26px;
}

.project-content-introdution_description {
    font-size: 18px;
    line-height: 2rem;
}


/* Sessão de Detalhes de conclusão */
.project-content-details_item {
    display: flex;
}

.project-content-details_texts {
    width: 100%;
    height: auto;
    border: 1px solid #e3e3e3;
}

.project-content-details_title {
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #e3e3e3;
}

.project-content-details_description {
    font-size: 16px;
    padding: 10px;
}

/* Sessão de Análise do trabalho */

.project-content-analytics_item {
    width: 100%;
    display: flex;
    gap: 20px;
}

.project-content-analytics_texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1.6rem;
}

.project-content-introdution_title {
    font-size: 26px;
}

.project-content-analytics_description {
    font-size: 18px;
    line-height: 2rem;
}

.project-content-analytics_images {
    width: 50%;
    display: flex;
    gap: 20px;
    margin-top: 4rem;
    position: relative;
}

.project-content-analytics_images img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}


.project-content-solutions_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1.6rem;
  }
  
  .project-content-solutions_images{
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 20px;
  }
  
  .project-content-solutions_images img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  
  .project-content-solutions_images img:hover {
    cursor: grab;
  }

  .project-content-solutions_texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1.6rem;
}

.project-content-solutions_title {
    font-size: 26px;
}

.project-content-solutions_description {
    font-size: 18px;
    line-height: 2rem;
}

/* Sessão sobre a conclusão do projeto */
.project-content-conclusion_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-content-conclusion_title {
    font-size: 26px;
    margin-top: 1rem;
}
.project-content-conclusion_description {
    font-size: 18px;
    line-height: 2rem;
}


/* Sessão sobre a conclusão do projeto */
.project-content-contact-us_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-content-contact-us_title {
    font-size: 26px;
    margin-top: 1rem;
}
.project-content-contact-us_description {
    font-size: 18px;
    line-height: 2rem;
}

.project-content-contact-us_links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

@media screen and (max-width: 1000px) {
    .project-content-analytics_item {
        flex-direction: column;
    }
    
    .project-content-analytics_images {
        width: 100%;
        margin: 0;
    }
    
    .project-content-analytics_images img {
        width: 100%;
    }
    .project-content-solutions_texts,
    .project-content-analytics_texts {
        margin-top: 1rem;
    }

}

@media screen and (max-width: 600px) {
    .project-content-details_item {
        flex-direction: column;
    }

    .project-content-analytics_images {
        flex-direction: column;
    }

    .project-content-analytics_images img:first-child {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .project-content-contact-us_title,
    .project-content-solutions_title,
    .project-content-conclusion_title,
    .project-content-analytics_title,
    .project-content-introdution_title {
        font-size: 22px;
    }

}

@media screen and (max-width: 400px) {
    .project-content-contact-us_title,
    .project-content-solutions_title,
    .project-content-conclusion_title,
    .project-content-analytics_title,
    .project-content-introdution_title {
        text-align: center;
    }


    .project-content-contact-us_description,
    .project-content-solutions_description,
    .project-content-conclusion_description,
    .project-content-analytics_description,
    .project-content-introdution_description {
        font-size: 16px;
        text-align: center;
        line-height: 1.8rem;
    }
}